.search-form {
  margin: 40px auto 80px auto;
  /* w: 608px h: 64px */
  width: 42vw;
  height: 4vw;
  white-space: nowrap;
}

.search-form__input {
  padding: 0 0 0 20px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  font-size: 16px;
  font-weight: 400;
  line-height: 2px;
  font-family: "Roboto", Arial, sans-serif;
  width: 38vw;
  height: 4vw;
  border: none;
}

.search-form__input:focus {
  outline: none;
  box-shadow: none;
  border-color: #e0e0e0;
}

.search-form__button {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  width: 12vw;
  height: 4vw;
  border-radius: 100px;
  border: none;
  background-color: #2f71e5;
  cursor: pointer;
  position: relative;
  padding: 0;
  color: white;
  right: 5vw;
}

@media (max-width: 768px) {
  .search-form {
    margin: 20px auto 40px auto;
    width: 74vw;
    height: 48px;
    padding: 0 16px;
  }
  .search-form__input {
    width: 52vw;
    height: 48px;
    font-size: 14px;
    padding-left: 16px;
  }
  .search-form__button {
    width: 104px;
    height: 48px;
    font-size: 14px;
    right: 40px;
  }
}

@media (max-width: 320px) {
  .search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px auto 0 auto;
    width: 100%;
    max-width: 288px;
    height: 150px;
    padding: 0 16px;
  }
  .search-form__input {
    width: 100%;
    max-width: 256px;
    height: 48px;
    font-size: 14px;
    padding-left: 16px;
    border-radius: 100px;
  }
  .search-form__button {
    position: static;
    width: 270px;
    height: 48px;
    font-size: 14px;
    right: 40px;
    border-radius: 100px;
    margin-top: 16px;
  }
}
