.footer {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  margin-top: 85px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: black;
  contain: content;
  width: 100%;
  justify-content: space-between;
}

.footer__text {
  font-family: "Roboto", Arial, sans-serif;
  /* margin: 0 524px 0 104px; */
  size: 16px;
  line-height: 22px;
  font-weight: 400;
  white-space: nowrap;
  color: #b6bcbf;
  max-width: 100%;
  padding-left: 100px;
}

.footer__buttons {
  display: flex;
  justify-content: center;
  align-items: right;
  max-width: 100%;
  min-width: 80px;
  gap: 1vw;
  padding-right: 100px;
}

.footer__home-button {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  background: none;
  color: black;
  border: none;
  margin: 0;
  text-decoration: none;
  width: 100%;
}

.footer__tripleten-button {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  background: none;
  color: black;
  border: none;
  margin: 0;
  text-decoration: none;
}

.footer__left-spacer {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}

.footer__right-spacer {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}

@media (max-width: 768px) {
  .footer {
    max-width: 100%;
    flex-direction: row;
    align-items: center;
    margin: 40px 0 40px 0;
    height: auto;
  }
  .footer__text {
    text-align: left;
    font-size: 14px;
    line-height: 18px;
    padding-left: 50px;
  }
  .footer__buttons {
    padding-right: 50px;
    display: flex;
    flex-direction: row;
    /* gap: 1vw; */
    margin: 0;
  }
  .footer__home-button {
    margin: 0;
    font-size: 14px;
    line-height: 18px;
    /* padding-right: 2vw; */
  }
  .footer__tripleten-button {
    margin: 0;
    font-size: 14px;
    line-height: 18px;
  }

  .footer__right-spacer {
    display: flex;
    flex-direction: row;
    gap: 1vw;
  }

  .footer__left-spacer {
    display: flex;
    flex-direction: row;
    gap: 1vw;
  }
}
@media (max-width: 600px) {
  .footer {
    display: flex;
    flex-direction: column-reverse;
  }

  .footer__text {
    text-align: center;
    width: 100%;
    font-size: 14px;
    line-height: 18px;
    margin-top: 16px;
    padding: 0;
  }
  .footer__left-spacer {
    display: flex;
    flex-direction: column;
  }
  .footer__right-spacer {
    display: flex;
    padding-left: 100px;
  }
  .footer__buttons {
    width: 100%;
    padding: 0;
    justify-content: space-evenly;
  }
}
