.footer {
  display: flex;
  align-items: center;
  margin-top: 85px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: black;
  contain: content;
  width: 100%;
}

.footer__text {
  font-family: "Roboto";
  margin: 0 524px 0 104px;
  size: 16px;
  line-height: 22px;
  font-weight: 400;
  white-space: nowrap;
  color: #b6bcbf;
  width: 433px;
}

.footer-home__button {
  font-family: "Roboto";
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  background: none;
  color: black;
  border: none;
  margin: 0 40px 0 0;
  text-decoration: none;
}

.footer-tripleten__button {
  font-family: "Roboto";
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  background: none;
  color: black;
  border: none;
  margin: 0 40px 0 0;
  text-decoration: none;
}

.footer-github__icon {
  margin-right: 24px;
}

.footer-fb__icon {
  margin-right: 24px;
}

@media (max-width: 1440px) {
  .footer__buttons {
    display: flex;
    flex-direction: row;
  }
}

@media (max-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    margin: 40px 0 40px 0;
    height: auto;
  }
  .footer__text {
    margin: 0 16px;
    text-align: center;
    width: auto;
    font-size: 14px;
    line-height: 18px;
  }
  .footer__buttons {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin: 0;
  }
  .footer-home__button {
    margin: 0;
    font-size: 14px;
    line-height: 18px;
  }
  .footer-tripleten__button {
    margin: 0;
    font-size: 14px;
    line-height: 18px;
  }
}
@media (max-width: 480px) {
  .footer {
    display: flex;
    flex-direction: column-reverse;
  }
  .footer__left-spacer {
    display: flex;
    flex-direction: column;
  }
  .footer__buttons {
    width: 90%;
    justify-content: space-between;
  }
}
