.news-section__container {
  background: #f5f6fa;
  width: 100%;
  min-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto Slab", Georgia, serif;
}

@media (max-width: 768px) {
  .news-section__container {
    /* padding: 40px 16px; */
    height: auto;
  }
}
